@{
    ViewData["Title"] = "StartUpName About"; /*Tabs at top of browser names.*/
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<section>
    <article>
        <h1>What makes me the right choice to spend the time reading my code?</h1>
        <h2>Introduction</h2>
        <h3>Developer, Visionary, Pants Enthusiast!</h3>
        <p>
            Hello and welcome to my silly little GitHub page. Here you will find examples of code ranging from C#,
            HTML & CSS, ASP.NET, Xamarin for Android/IOS and a few examples of the most commonly used design patterns.
            Most are public, but some are private. GitHub has a cap on public folders that you can use for free, and yes,
            I am that cheap. Many of these code examples are lets face it, overly simple. The fact is that anyone who pays
            me wants me to keep the code confidential, so posting it on GitHub isn’t really doing that. I realized that
            someone who is interested enough to look at my code would want to see a range of things so that is what you
            will find. At heart I am an Object Oriented Programmer, but I have recently branched out to test the waters
            with SAAS. My work in this area is part of the private world, but ask me, and I will be happy to talk to you about it!<br>
            <br>
            LINK WORK:<br>
            ../parentfolder.extension address of parent direcotry for something. If you have to go to different folder in parent you have to do this, then put address.<br>
            ../../ if parent folder is subfolder and you need to go one level up. You do that by putting it 2 times.<br>
            <br>
            Open in new window:	<a href="https://github.com/pories" target="blank">GitHub</a><br>
            Open in same window: <a href="https://github.com/pories" target="_self">GitHub</a><br>
            Open in containing folder: <a href="GitFun2/Pories2.html" target="external">Old Pories</a><br>
            Return to previous documnet: <a href="../Pories.html" target="external">Old Pories</a><br>
            Say Something cool in hover: <a href="https://github.com/pories" title="Kneel before Zod!" target="blank">GitHub</a><br>


        </p>
        <h3>Waterfall or Agile?</h3>
        <ol>
            <li>Both have there place! </li>
            <li>I can be on board for a project with lots of regultory requirments (aka Waterfall </li>
            <li>I can be on board with a project that has a fast changing set of requirments (aka Agile)!</li>
            <li>It takes scrum time, but we get it done!</li>
        </ol>

        <ul>
            <li>I have an very easy way of communicating, and that lets us discuss domain level work easily.</li>
            <li>I enjoy long meetings that discuss requirements that may shift over the life of the project.</li>
            <li>I fit well into almost any organization.</li>

        </ul>

        <figure>
            <img src="~/images/Comic.gif" alt="A comic that is funnny!!" class="img-responsive">
        </figure>

    </article>

    <article></article>

</section>
<footer>
    <nav>
        <ul>
            <li>
                <a href="http://charlotteitpros.com" target="external">Charlotte IT Pros</a>
            </li>
            <li>
                <a href="https://github.com/pories" target="external">My Github</a>
            </li>

        </ul>
    </nav>
</footer>
