@{
    ViewData["Title"] = "StartUpName About"; /*Tabs at top of browser names.*/
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
